body{
    padding: 2em 0 0 0;
}
input{
    max-width: 50%;
}
.make_center>div>input{
    margin: auto;
    display: block;
}
.make_a_tag_great>a{
    /*padding: .3em 1em;*/
}
a, a:visited{
    color: #000 !important;
    margin:.5em;
    padding: .3em 1em;
}
.default_focus{
    background: #ff00ff;
}